<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.edt.frame.admin.dao.schedulejob.ScheduleJobDao">
    <resultMap type="cc.edt.frame.model.entity.schedulejob.ScheduleJob" id="ScheduleJobMap">
        <id property="id" column="id"/>
        <result property="jobName" column="job_name"/>
        <result property="jobStatus" column="job_status"/>
        <result property="jobGroup" column="job_group"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="description" column="description"/>
        <result property="beanName" column="bean_name"/>
        <result property="methodName" column="method_name"/>
        <result property="addTime" column="add_time"/>
    </resultMap>
    <select id="listScheduleJobByCondition" parameterType="ScheduleJobCondition" resultMap="ScheduleJobMap">
        SELECT
        bsj.id,
        bsj.job_name,
        bsj.job_status,
        bsj.job_group,
        bsj.cron_expression,
        bsj.description,
        bsj.bean_name,
        bsj.method_name,
        bsj.add_time
        FROM
        base_schedule_job bsj
        ORDER BY
        bsj.add_time DESC
    </select>
    <select id="getScheduleJobById" parameterType="String" resultMap="ScheduleJobMap">
        SELECT
        bsj.id,
        bsj.job_name,
        bsj.job_status,
        bsj.job_group,
        bsj.cron_expression,
        bsj.description,
        bsj.bean_name,
        bsj.method_name,
        bsj.add_time
        FROM
        base_schedule_job bsj
        where bsj.id = #{id}
    </select>
    <select id="getScheduleJobByJobName" parameterType="String" resultMap="ScheduleJobMap">
        SELECT
        bsj.id,
        bsj.job_name,
        bsj.job_status,
        bsj.job_group,
        bsj.cron_expression,
        bsj.description,
        bsj.bean_name,
        bsj.method_name,
        bsj.add_time
        FROM
        base_schedule_job bsj
        where bsj.job_name = #{jobName}
    </select>
    <select id="getScheduleJobByJobGroup" parameterType="String" resultMap="ScheduleJobMap">
        SELECT
        bsj.id,
        bsj.job_name,
        bsj.job_status,
        bsj.job_group,
        bsj.cron_expression,
        bsj.description,
        bsj.bean_name,
        bsj.method_name,
        bsj.add_time
        FROM
        base_schedule_job bsj
        where bsj.job_group = #{jobGroup}
    </select>
    <insert id="saveScheduleJob">
        INSERT INTO base_schedule_job (
        id,
        job_name,
        job_status,
        job_group,
        cron_expression,
        description,
        bean_name,
        method_name,
        add_time
        )
        VALUES
        (
        #{id},
        #{jobName},
        #{jobStatus},
        #{jobGroup},
        #{cronExpression},
        #{description},
        #{beanName},
        #{methodName},
        #{addTime}
        )
    </insert>
    <update id="updateScheduleJob">
        UPDATE base_schedule_job
        SET job_name = #{jobName},
        job_group = #{jobGroup},
        cron_expression = #{cronExpression},
        description = #{description},
        bean_name = #{beanName},
        method_name = #{methodName}
        WHERE
        id = #{id}
    </update>
    <update id="updateScheduleJobStatusById">
        UPDATE base_schedule_job
        SET job_status = #{jobStatus}
        WHERE
        id = #{id}
    </update>
    <delete id="deleteScheduleJobById">
        DELETE
        FROM
        base_schedule_job
        WHERE
        id = #{id}
    </delete>
</mapper>
